* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

:root {
--navy: #012853;
--white: #ffffff;
--lilac: #D2A3BC;

}
.container {
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--white);
    color: var(--navy);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    resize: horizontal;
    overflow: auto;

}

.header {
    padding: 20px;
    background-color: var(--white);
    color: var(--navy);
}

.header h1 {
    display: inline-block;
    font-size: 60px;
    color: var(--navy);
    margin-left: 25px;
    
}

.header nav {
    padding-top: 25px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    text-align: right;
    margin-left: 25px;
}

a {
    color: var(--navy);
}

.hero {
    height: 250px;
    width: 100%;
    margin: 50px;
    background-image: url("../images/Work.jpg");
    background-size: cover;
    background-position: center;
}
main {
display: flex;
flex-direction: row;
}
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    flex-direction: row;
}
h2 {
    margin-bottom: 20px;
    font-size: 36px;
 
}
.content p {
    font-size: 14px;
    text-align: justify;
}
h3 {
    margin-bottom: 10px;
    color: var(--navy);
    text-decoration: underline;
    text-align: center;
}

.float-left {
    float: left;
    

}
.float-right {
    float: right;

}
.about-me {
    margin: 0px 25px 25px 25px;
    border-width: 15px;
    border-style: solid;
    border-color: var(--lilac);
    padding: 50px;
    height: 350px;
    color: var(--navy);
    background-color: var(--white);
    display: flex;
    align-items: center;
    vertical-align: center;

}

.about-me #roundedge {
    margin: 10px 35px;
    height: 280px;
    width: auto;
    border-radius: 90px;
    position: static;

}

.my-work {
    margin: 25px;
    border-width: 15px;
    border-style: solid;
    border-color: var(--lilac);
    padding: 50px;
    height: 350px;
    color: var(--navy);
    background-color: var(--white);
 
}
.grid-image:hover{
        transform: scale(1.1);
} 

.resume {
    margin: 25px;
    border-width: 15px;
    border-style: solid;
    border-color: var(--lilac);
    padding: 50px;
    height: 350px;
    color: var(--navy);
    background-color: var(--white);
    display: flex;
    align-items: center;

}
.resume #cut {
    margin: 10px 35px;
    border-radius: 90px;
    height: 280px;
    width: auto;
    position: static; 

}

aside {
width: 25%;
display: flex;
flex-wrap: wrap;
}
 

aside p {
    font-size: 12px;
    text-align: center;
}
.extras {
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    color: var(--navy);
    background-color: var(--lilac);
    border-style: solid;
    border-radius: 90px;
    border-color: var(--lilac);
    text-align: center;
    
}

.extra-one {
    margin-bottom: 32px;
    color: var(--white);

}

.extra-two {
    margin-bottom: 32px;
    color: var(--white);
}

.extra-three {
    margin-bottom: 32px;
    color: var(--white);
}

h4 {
    margin-bottom: 10px;
    text-align: center;
    color: var(--navy);
}

.extra-one img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.extra-two img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.extra-three img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
.button {
appearance: none;
display: inline-block;
width: auto;
text-decoration: none;
text-align: center;
vertical-align: middle;
white-space: nowrap;
border: 0;
background-color: var(--lilac);
color: var(--white);
padding: 18px 60px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 14px;
font-weight: 400;
letter-spacing: 1.5px;
text-transform: uppercase;
line-height: normal;
border-radius: 1px;
}
.footer a:hover {background-color: var(--navy);}

@media screen and (max-width: 992px) {
    .body transform{scale: 1;}

  }
  
  /* Large smartphones -*/
  @media screen and (max-width: 768px) {
    .body transform{scale: .66;}
    }

  
  /* Small smartphones - */
  @media screen and (max-width: 576px) {
    .body transform{scale: .33;}
        
  }